:root {
  --primary: #dc143c;
  --secondary:#7fff00;
  --dark: #131a26;
  --light: #eeeeee;
  --grey: #888888;
  --font: "Fira Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body {
  background-color: var(--light);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 2px solid rebeccapurple;
}
.quote {
  position: relative;
}
.title,
.character {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  border-radius: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title {
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%, 50%);
}
.character {
  background-color: var(--primary);
  font-weight: 600;
  transform: translate(-25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
}
blockquote{
  max-width: 720px;
  font-size: 2rem;
  background-color: var(--dark);
  padding: 3rem;
  border-radius: 1.5rem;
  color: #fff;
  width: 100%;
}
button{
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--primary);
  color: var(--light);
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  margin-top: -23px;
  z-index: 1;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}
button:hover{
  background-color: var(--secondary);
}